---
import Route from '../../components/route.astro';
import { routes } from '../../utils/routes';
---

<div>
  <div class="mx-auto max-w-2xl px-4 sm:px-6 sm:py-10 lg:max-w-7xl lg:px-8">
    <div class="md:flex md:items-center md:justify-between">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">Praias</h2>
      <a
        href="#"
        class="hidden text-sm font-medium text-green-800 hover:text-green-600 md:block"
      >
        Veja mais rotas
        <span aria-hidden="true"> &rarr;</span>
      </a>
    </div>

    <ul
      class="mt-6 grid grid-cols-1 gap-10 sm:grid-cols-2 sm:gap-6 md:gap-4 lg:grid-cols-3 lg:gap-8 xl:grid-cols-4"
    >
      {
        routes.map((route) => (
          <Route
            name={route.name}
            slug={route.slug}
            availableHours={route.availableHours}
            experience={route.experience}
            fullPrice={route.fullPrice}
            dueDate={route.dueDate}
            duration={route.duration}
            description={route.description}
            images={route.images}
            priceWithDiscount={route.priceWithDiscount}
            priceInstallmentsNumber={route.priceInstallmentsNumber}
            tags={route.tags}
            reviews={route.reviews}
          />
        ))
      }
    </ul>

    <div class="mt-8 text-sm md:hidden">
      <a href="#" class="font-medium text-green-800 hover:text-green-600">
        Veja mais rotas
        <span aria-hidden="true"> &rarr;</span>
      </a>
    </div>
  </div>
</div>
