---
import type { Route } from '../types/Route';

type Props = Route;

const {
  name,
  slug,
  time,
  experience,
  fullPrice,
  description,
  priceWithDiscount,
  priceInstallmentsNumber,
  images,
  tags,
} = Astro.props;

const formattedPriceWithDiscount = new Intl.NumberFormat('pt-BR', {
  style: 'currency',
  currency: 'BRL',
}).format(priceWithDiscount);

const formattedFullPrice = new Intl.NumberFormat('pt-BR', {
  style: 'currency',
  currency: 'BRL',
}).format(fullPrice);
---

<a href={`/routes/${slug}`} class="group relative w-full min-w-min">
  <div
    class="h-fit w-full overflow-hidden rounded-md bg-white pb-4 shadow-lg transition-all group-hover:opacity-75"
  >
    {
      tags.map((tag) => {
        return (
          <span class="font-fredoka absolute right-2 top-2 items-center rounded-md bg-[#ED7681] px-3.5 py-1.5 text-sm font-medium text-white shadow-md">
            {tag}
          </span>
        );
      })
    }
    <img src={images[0]} class="w-full object-cover object-center" />
    <div class="grid gap-2 px-3">
      <h3 class="mt-4 text-base text-gray-700">
        {name}
      </h3>
      <div class="flex items-center gap-2">
        <img
          src="/icons/clock.svg"
          alt="icone de um relógio"
          class="aspect-square h-4"
        />
        <span class="font-fredoka text-sm font-bold">{time}</span>
      </div>
      <ul class="my-4 grid gap-1">
        {
          experience.map((item) => {
            return (
              <li class="flex items-center gap-2">
                <img
                  src="/icons/check.svg"
                  alt="icone de um relógio"
                  class="aspect-square h-4"
                />
                <span class="text-sm text-gray-700">{item}</span>
              </li>
            );
          })
        }
      </ul>
      <div class="grid gap-1">
        <span class="font-fredoka text-xs"
          >A partir de <span class="line-through">{formattedFullPrice}</span
          ></span
        >
        <span class="text-green-800">{formattedPriceWithDiscount}</span>
        <span class="font-fredoka text-xs"
          >Em até {priceInstallmentsNumber}x</span
        >
      </div>
    </div>
  </div>
</a>
